doctype html
html
    head
        title Reserva Centro Deportivo
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
       
        style.
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                font-family: Inter, sans-serif;
                background-color: #C8C8C8;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .container {
                width: 90%;
                max-width: 1600px;
                height: 90vh;
                margin: auto;
                background-color: #FEF7FF;
                border-radius: 10px;
                display: flex;
                flex-direction: column; /* Para apilar verticalmente los elementos */
            }

            .title-image-container,
            .details-container,
            .dropbuttom-container,
            .fotter-container {
                /* Ocupa todo el espacio disponible y sin espacios */
                flex-grow: 1;
                flex-shrink: 1;
                display: flex;
                flex-direction: column; /* Cambia a disposición vertical dentro de cada contenedor */
                align-items: center;
                justify-content: center;
                margin: 0; /* Sin márgenes */
                padding: 0; /* Sin padding adicional */
            }

            .title-image-container {
                background-color: #AFA1EE;
                height: 32%;
                text-align: center;
                padding-top: 30px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .title {
                color: black;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .details-container {
                background-color: #FEF7FF; /* Color morado */
                text-align: center;
                padding: 10px;
            }
            
            #textNeg{
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 5px;
                color: black;
            }

            .description{
                text-align: center;
                font-size: 15px;
                color: #333;
                padding-bottom: 10px;
            }

            .location {
                font-size: 15px;
                color: #555;
                text-align: center;
                padding-bottom: 15px;
            }

            .form-group {
                text-align: center;
            }

            .form-group label {
                font-size: 18px;
                color: black;
                font-weight: bold;
                margin-bottom: 8px;
                display: block;
            }

            .form-group input[type="date"] {
                width: 250px;
                margin: 0 auto;
                display: block;
            }
            .dropbuttom-container {
                height: 5%;
                background: linear-gradient(to bottom, #FEF7FF 50%, #C0FFCA 50%);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .dropdown {
                position: relative;
                display: inline-block;
                margin: 15px 0;
                text-align: center;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: white;
                min-width: 250px;
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
            }

            #toggleDropdown {
                width: 250px;
                padding: 10px 20px;
                font-size: 16px;
                background-color: white;
                color: black;
                border: 1px solid #666666;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
            }

            .dropdown-content input[type="checkbox"] {
                margin-right: 10px;
            }

            .dropdown-content label {
                display: flex;
                justify-content: space-between;
                padding: 5px 0;
                align-items: center;
                width: 100%;
            }

            .fotter-container {
                background-color: #C0FFCA;
                padding: 15px;
                text-align: center;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .info-section {
                padding: 20px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .cost {
                font-size: 18px;
                color: #333;
            }

            .prohibitions {
                margin-top: 10px;
                font-size: 14px;
                color: black;
            }

            .reserve-btn {
                width: 250px;
                padding: 10px;
                margin-top: 15px;
                background-color: rgb(216, 226, 216);
                color: rgb(118, 124, 118);
                border-radius: 20px;
                font-size: 16px;
                border-radius: 20px;
                cursor: pointer;
            }

            .reserve-btn:hover {
                background-color: rgb(140, 150, 140); /* Even darker on hover */
            }

            .total {
                margin-top: 15px;
                text-align: center;
                font-size: 16px;
            }

    body
        .container
            // Title and Image Section
            .title-image-container
                .title Centro Deportivo 1 | MANCO
                .image-container
                    img(src=imageUrl, alt=`Centro Deportivo ${centroId}`)

            // Details Section
            .details-container
                .description
                    p#textNeg Descripcion
                    p Cancha de 50m2 de gras sintético
                .location
                    p#textNeg Lugar
                    p Av. Calle Falsa 123, Breña, Lima
                .form-group
                    label(for="fecha") Fecha
                    input#fecha(type="date", value="2024-09-27")

            // Dropdown Section
            .dropbuttom-container
                .dropdown
                    button#toggleDropdown Horarios disponibles
                    .dropdown-content
                        label
                            | 8:00 AM - 9:00 AM
                            input(type="checkbox" name="horarios" value="8:00 AM - 9:00 AM")
                        label
                            | 9:00 AM - 10:00 AM
                            input(type="checkbox" name="horarios" value="9:00 AM - 10:00 AM")
                        label
                            | 10:00 AM - 11:00 AM
                            input(type="checkbox" name="horarios" value="10:00 AM - 11:00 AM")  
            input(type="hidden" id="centroId" value=centroId)

            // Footer Section
            .fotter-container
                .selected-hours-container 
                    .selected-hours
                .info-section
                    .cost Costo de reserva: s/50 por hora
                    .prohibitions No se permite el ingreso de alimentos ni mascotas.
                a(href="#" id="reserveBtn")
                    button.reserve-btn Reservar
                .total Total: 0

        script(src="/js/centerDetails.js")