doctype html
html
  head
    title Métodos de pago
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }

      .container {
        max-width: 15000px;
        height: 100vh;
        margin: 0px auto;
        padding: 0px;
        background-color: #E6E6FA;
        border-radius: 15px;
        text-align: center;
      }

      .title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
      }

      .name {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
      }

      .total {
        font-size: 32px;
        color: #333;
        margin-bottom: 30px;
      }

      .payment-options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 40px;
      }

      .payment-options .option {
        width: 300px;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 15px;
        padding: 30px;
        background-color: white;
        transition: border-color 0.3s, box-shadow 0.3s;
        cursor: pointer;
      }

      /* Agrega un borde visible y un cambio de color en hover */
      .payment-options .option:hover {
        border-color: #4CAF50;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .payment-options img {
        width: 100px;
        height: 90px;
        margin-bottom: 20px;
      }

      /* Efecto en las imágenes dentro de los botones */
      .payment-options button:hover img {
        border: 2px solid #4CAF50;
        padding: 5px;
        border-radius: 10px;
      }

      .payment-options p {
        font-size: 20px;
        color: #555;
      }

      .cancel-btn {
        display: block;
        width: 40%;
        margin: -30px auto;
        padding: 20px;
        background-color: transparent;
        border: 3px solid #4CAF50;
        color: #4CAF50;
        font-size: 24px;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }

      .cancel-btn:hover {
        background-color: #4CAF50;
        color: white;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        /*padding: 0;*/
      }

  body
    .container
      .title Métodos de pago

      .name Canepa Zegarra, Gabriel
      .total Total: 100.00

      .payment-options
        .option
          a(href="/cesar")
            button
              img(src="/img/qr.jpg" alt="QR Code")
          p Código QR
          p
          button
            img(src="/img/yape.jfif" alt="Yape Logo")
          p
          button
            img(src="/img/plin.png" alt="Plin Logo")
        .option
          button
            img(src="/img/cardpayment.jfif" alt="Card Payment")
          p Pague con tarjetas
          p
          button
            img(src="/img/oh.png" alt="oh! Logo")
          p
          button
            img(src="/img/ripley.png" alt="Tarjeta Ripley Logo")
      button.cancel-btn CANCELAR
