doctype html
html
  head
    title Método de Pago
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #F5F5F5;
      }
      .main-container {
        width: 90%;
        max-width: 1600px;
        height: 90vh; /* Altura total del contenedor principal */
        margin: auto;
        background-color: #E6E6FA;
        border-radius: 20px;
        display: flex;
        flex-direction: column; /* Dirección de los elementos hijos en columna */
      }
      .section-1, .section-2, .section-3 {
        display: flex;
        flex-direction: column;      
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
      }

      .section-1 {
          background-color: #b19cd9;
          border-radius: 20px;
          justify-content: space-evenly;
          flex: 0 0 25%;
      }

      .name-info {
          font-weight: bold;
          font-size: 40px;
          margin-bottom: 10px;
      }

      .section-2 {
          background-color: #e8e8e8;
          justify-content: space-evenly;
          flex: 0 0 55%;
      }

      .section-3 {
          background-color: #ccffcc;
          border-radius: 20px;
          justify-content: space-evenly;
          flex: 0 0 20%;
      }
      h2 {
        text-align: center;
        margin-bottom: 10px;
        color: #333;
      }

      .total{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .payment-methods {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
      .payment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border: 2px solid transparent;
        border-radius: 10px;
        transition: border-color 0.3s;
      }

      .horizontal-images {
          display: flex;
          justify-content: center;
          margin-top: 10px;
      }
      
      .img-1 {
          height: 200px;
      }

      .ti{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
      }

      .img-2 {
          width: 65px;
          margin: 0 5px;
      }
      .payment-container.selected {
        border-color: black;
      }

      .cancel-btn {
        width: 250px;
        padding: 10px;
        margin-top: 15px;
        background-color: rgb(216, 226, 216);
        color: rgb(118, 124, 118);
        border-radius: 20px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s;
      }

      .cancel-btn:hover {
          background-color: rgb(140, 150, 140);
      }
  body
    .main-container
      .section-1
        h2 Método de Pago
        p.name-info #{nombre}
        p.total Total: #{total}
      
      .section-2
        h2 Selecciona tu método de pago
        .payment-methods
          .payment-container#method1
            p.ti Código QR
            img.img-1(src="/img/codqr.png", alt="Método 1")
            .horizontal-images
              img.img-2(src="/img/yape.png", alt="Método 2")
              img.img-2(src="/img/plin.png", alt="Método 3")
              img.img-2(src="/img/bimNavLogo.png", alt="Método 4")
          .payment-container#method2
            p.ti Paga con tarjetas
            img.img-1(src="/img/tarjetafac.png", alt="Método 2")
            .horizontal-images
              img.img-2(src="/img/oh.png", alt="Método 1")
              img.img-2(src="/img/ripley.png", alt="Método 1")
              img.img-2(src="/img/bcp.png", alt="Método 1")

      .section-3
        button.cancel-btn#cancel-btn Cancelar
      
    script(src="/js/paymentMethods.js")