doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Métodos de Pago
        link(rel="stylesheet" href="css/styles.css")
    body
        .contenedor
            h2 Método de pagos
            p Ingresa tu aplicación
            img.pagos(src="./img/imagen01.png" alt="Imagen de la aplicación")
            p y escanea este código QR
            img.qr(src="./img/codigoqr.png" alt="Código QR")
            img.spinner(src="./img/load.gif" alt="Cargando")

            .info-pago
                h2 #{nombre}
                p Total: S/#{total}
                button#cancel-btn Cancelar
           
            .modal#paymentModal
                .modal-content
                    span.close(&times;)
                    .check-icon ✔️
                    h2 Pago realizado
                    p Tu pago se ha procesado correctamente.
                    button#accept-btn Aceptar

        script(src="/js/paymentQr.js")